<section class="modal-container" ng-show="showRegistration == true">
	<div class="modal-background"></div>
	<a ng-click="showRegistration = !showRegistration" class="close-container">
		<i class="ion-close-round close-icon"></i>
		<span class="novecento-bold">close</span>
	</a>
	<div class="registration-container">
		<form name="testboost" class="row" ng-submit="submitEnrollment()">
			<div class="col-lg-6 left-registration">
				<h3 class="registration-title">
					Registration
				</h3>
				<label class="registration-label-left">
					student full name
				</label>
				<br>
				<input type="text" class="registration-input" ng-model="enrollment.student_full_name" required>
				<label class="registration-label-left">
					student high school
				</label>
				<br>
				<input type="text" class="registration-input" ng-model="enrollment.student_high_school"  required>
				<div class="row grade-dob-input">
					<div class="dob-group col-md-8" style="width: 60%; margin-right: 6.6%;">
						<label class="registration-label-left dob-label">
							date of birth
						</label>
						<br>
						<input type="text" class="registration-input" ng-model="enrollment.dob" placeholder="MM/DD/YYYY" required>
					</div>
					<div class="grade-group col-md-4">
						<label class="registration-label-left grade-label">
							grade
						</label>
						<input type="text" class="registration-input" ng-model="enrollment.grade" placeholder="9-12" required>
					</div>
				</div>	
				<label class="registration-label-left">
					student mobile number
				</label>
				<br>
				<input type="text" class="registration-input" ng-model="enrollment.student_mobile_number" required>
				<label class="registration-label-left">
					student email
				</label>
				<br>
				<input type="email" class="registration-input" ng-model="enrollment.student_email" required>
			</div>
			<div class="col-lg-6 right-registration">
				<h3 class="registration-title">
					{{enrollment.course_type}} Seminar
				</h3>
				<label class="registration-label-right" style="margin-bottom: 0">session date:</label>
				<select ng-model="enrollment.course_date" ng-show="enrollment.course_type == 'SAT'">
					<option value="Sept. 2 to Oct. 11">Sept. 2 to Oct. 11</option>
					<option value="Oct. 28 to Dec. 2">Oct. 28 to Dec. 2</option>
				</select>
				<select ng-model="enrollment.course_date" ng-show="enrollment.course_type == 'ACT'">
					<option value="Aug. 6 to Sept. 10">Aug. 6 to Sept. 10</option>
					<option value="Nov. 5 to Dec. 10">Nov. 5 to Dec. 10</option>
				</select>
				<label class="registration-label-right">
					parent full name
				</label>
				<br>
				<input type="text" class="registration-input" ng-model="enrollment.parent_full_name" required>
				<label class="registration-label-right">
					parent email
				</label>
				<br>
				<input type="email" class="registration-input" ng-model="enrollment.parent_email" required>
				<label class="registration-label-right">
					home address
				</label>
				<br>
				<input type="text" class="registration-input" ng-model="enrollment.home_address" required>
				<div class="row grade-dob-input">
					<div class="dob-group col-md-8" style="width: 60%; margin-right: 6.6%;">
						<label class="registration-label-right dob-label">
							city
						</label>
						<br>
						<input type="text" class="registration-input" ng-model="enrollment.city" required>
					</div>
					<div class="grade-group col-md-4">
						<label class="registration-label-right grade-label">
							state
						</label>
						<input type="text" class="registration-input" ng-model="enrollment.state" required>
					</div>
				</div>
				<button type="submit" class="button-enroll"><i class="ion-chevron-right"></i> continue to payment</button>
			</div>
		</form>
	</div>
</section>