<section id="class-selection">
	<nav class="static-nav">
		<img class="logo-round" src="/assets/esm_round_logo.png">
		<h1 class="page-title">
			Summer Classes
		</h1>
	</nav>
	<div class="class-choice-container">
		<div class="col-lg-4">
			<div class="class-selection">
				<header class="location-head">
					<div class="location-circle">
						<i class="ion-location"></i>
					</div>
<!-- 					<span class="address">
						50 fullerton Ct
						<br>
						Sacramento, CA 95825
					</span> -->
				</header>
				<div class="class-choice-body">
					<h3 class="class-dates">
						Most Saturdays
					</h3>
					<div class="line-box-classes"></div>
					<h6 class="class-title">
						Proctored SAT/ACT Exam
					</h6>
					<p class="class-description">
						Every Saturday from 9am to 1pm, ESM will
						be hosting a free proctored SAT/ACT or SAT
						Subject test for all enrolled students. Tests
						come with a free score analysis and printout
						of your student’s results.
					</p>
				</div>
				<footer class="class-choice-footer">
					<h6 class="class-title">
						Enrollment fee: 
						<span class="price">$0</span>
					</h6>
					<a class="button-enroll">enroll in this class</a>
				</footer>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="class-selection">
				<header class="location-head">
					<div class="location-circle">
						<i class="ion-location"></i>
					</div>
<!-- 					<span class="address">
						50 fullerton Ct
						<br>
						Sacramento, CA 95825
					</span> -->
				</header>
				<div class="class-choice-body">
					<h3 class="class-dates">
						Most Saturdays
					</h3>
					<div class="line-box-classes"></div>
					<h6 class="class-title">
						Proctored SAT/ACT Exam
					</h6>
					<p class="class-description">
						Every Saturday from 9am to 1pm, ESM will
						be hosting a free proctored SAT/ACT or SAT
						Subject test for all enrolled students. Tests
						come with a free score analysis and printout
						of your student’s results.
					</p>
				</div>
				<footer class="class-choice-footer">
					<h6 class="class-title">
						Enrollment fee: 
						<span class="price">$0</span>
					</h6>
					<a class="button-enroll">enroll in this class</a>
				</footer>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="class-selection">
				<header class="location-head">
					<div class="location-circle">
						<i class="ion-location"></i>
					</div>
<!-- 					<span class="address">
						50 fullerton Ct
						<br>
						Sacramento, CA 95825
					</span> -->
				</header>
				<div class="class-choice-body">
					<h3 class="class-dates">
						Most Saturdays
					</h3>
					<div class="line-box-classes"></div>
					<h6 class="class-title">
						Proctored SAT/ACT Exam
					</h6>
					<p class="class-description">
						Every Saturday from 9am to 1pm, ESM will
						be hosting a free proctored SAT/ACT or SAT
						Subject test for all enrolled students. Tests
						come with a free score analysis and printout
						of your student’s results.
					</p>
				</div>
				<footer class="class-choice-footer">
					<h6 class="class-title">
						Enrollment fee: 
						<span class="price">$0</span>
					</h6>
					<a class="button-enroll">enroll in this class</a>
				</footer>
			</div>
		</div>
	</div>
</section>