<section tb-modal>
  
</section>
<section id="class-selection">
  <nav class="static-nav">
    <img class="logo-round" src="/assets/esm_round_logo.png">
    <h2 class="page-title">Course Offerings</h2>
    <div class="links-container">
      <a ui-sref="home" class="nav-link">home</a>
      <a ui-sref="classes" class="nav-link">classes</a>
      <a ui-sref="mentors" class="nav-link">private tutoring</a>
    </div>
  </nav>
  <div class="class-choice-container">
    <aside class="selection-sidebar">
      <a href="" class="sidebar-link" ng-class="{'selected': currentTab == 'SAT'}" ng-click="selectTab('SAT')">SAT Classes and Seminars</a>
      <a href="" class="sidebar-link" ng-class="{'selected': currentTab == 'ACT'}" ng-click="selectTab('ACT')">ACT Classes and Seminars</a>
      <a href="" class="sidebar-link" ng-class="{'selected': currentTab == 'Referral'}" ng-click="selectTab('Referral')">Referral Program</a>
    </aside>
    <section class="selection-content">
      <div class="seminar-container" ng-show="currentTab == 'SAT'">
        <div class="main-icon sat">
          <i class="ion-lightbulb"></i>
        </div>
        <h3 class="selection-title">SAT Seminars</h3>
        <div class="row">
          <aside class="seminar-details col-md-8">
            <p class="seminar-description">
              A weekly course that will prepare your 
              student for the first SAT of the Fall. 
              Classes dive into all aspects of the SAT 
              and the class ends with a full practice 
              exam. To learn more about the mentors 
              who will be teaching the courses
              visit our mentors page. 
            </p>
            <a class="button-green" ng-click="showModal('SAT')">
              <i class="ion-chevron-right"></i>
              enroll in sat seminar
            </a>
          </aside>
          <aside class="col-md-4">
            <div class="seminar-box">
              <h4 class="seminar-box-title">Available Dates</h4>
              <h6 class="seminar-date">
                Sept. 2 to Oct. 11
              </h6>
              <p class="seminar-time">
                Every tuesday
                <br>
                6:30-9:00pm
              </p>
              <h6 class="seminar-date">
                Oct. 28 to Dec. 2
              </h6>
              <p class="seminar-time">
                Every tuesday
                <br>
                6:30-9:00pm
              </p>
            </div>  
          </aside>
        </div>
      </div>
      <div class="seminar-container" ng-show="currentTab == 'ACT'">
        <div class="main-icon act">
          <i class="ion-lightbulb"></i>
        </div>
        <h3 class="selection-title">ACT Seminars</h3>
        <div class="row">
          <aside class="seminar-details col-md-8">
            <p class="seminar-description">
              A weekly course that will prepare your 
              student for the first ACT of the Fall. 
              Classes dive into all aspects of the ACT 
              and the class ends with a full practice 
              exam. To learn more about the mentors 
              who will be teaching the courses
              visit our mentors page. 
            </p>
            <a class="button-green" ng-click="showModal('ACT')">
              <i class="ion-chevron-right"></i>
              enroll in act seminar
            </a>
          </aside>
          <aside class="col-md-4">
            <div class="seminar-box">
              <h4 class="seminar-box-title">Available Dates</h4>
              <h6 class="seminar-date">
                Aug. 6 to Sept. 10
              </h6>
              <p class="seminar-time">
                Every wednesday
                <br>
                6:30-9:00pm
              </p>
              <h6 class="seminar-date">
                Nov. 28 to Dec. 10
              </h6>
              <p class="seminar-time">
                Every wednesday
                <br>
                6:30-9:00pm
              </p>
            </div>  
          </aside>
        </div>
      </div>
      <div class="seminar-container" ng-show="currentTab == 'Referral'">
        <div class="main-icon referral">
          <i class="ion-arrow-return-left"></i>
        </div>
        <h3 class="selection-title">ACT Seminars</h3>
        <p class="referral-text">
          ESM has a referral program for both students and parents if they refer a student
          who registers in any of our programs.
        </p>
        <h5 class="referral-title">Parents</h5>
        <p class="referral-text">
          $50 off the price of enrollment (or a $50 refund if your student has registered).
          Recruited student is provided with the same discount.
        </p>
        <h5 class="referral-title">Students</h5>
        <p class="referral-text">
          $15 gift card to venues around the area such as Chipotle, Jamba, Starbucks, 
          Pinkberry or a $15 Visa gift card for every other student referred.
        </p>
      </div>
    </section>
  </div>
</section>