<section tb-modal>
  
</section>
<section id="class-selection">
  <nav class="static-nav">  
    <img class="logo-round" src="/assets/esm_round_logo.png" ng-click="goHome()" style="cursor: pointer">
    <span class="page-title">Course Offerings</span>
    <div class="links-container">
      <a ui-sref="home" link-selector="'home'" class="nav-link underline-fade-in">
        home
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="classes" link-selector="'classes'" class="nav-link underline-fade-in">
        classes
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="mentors" link-selector="'mentors'" class="nav-link underline-fade-in">
        mentors
        <div class="nav-link-underline-hover"></div>
      </a>
    </div>
  </nav>
  <div class="class-choice-container">
    <aside class="class-sidebar">
      <div class="class-item" ng-repeat="class in classes" ng-click="selectSchool($index)" ng-class="{'selected': class.school === selected.school}">
        <div class="class-item-container">
          <h5 class="class-item-school">{{class.school}}</h5>
          <h6 class="class-item-location">{{class.city}}</h6>
          <i class="ion-chevron-right item-chevron"></i>
        </div>
      </div>
    </aside>
    <section class="selection-content">
      <h3 class="selection-title">Fall Courses at {{selected.school}}</h3>
    </section>
  </div>
</section>