<section id="coming-soon">
	<div class="overlay">
	</div>
	<div class="col-lg-6 col-lg-offset-3">
		<h2>Coming Soon</h2>
		<p>
			The ESM Group will be offering SAT and ACT classes along with one on one mentorship for the spring and summer of 2014. Visit back soon and learn more about our offerings.
		</p>
	</div>
</section>