<section id="welcome-page">
	<img class="logo-round" src="/assets/esm_round_logo.png"></img>
	<div class="presentation-container">
		<h1 class="welcome-title">
			Sacramento's test prep leader
		</h1>
		<p class="title-description">
			Since 1999, ESM Group has worked with more students than any other organization in the Sacramento Area. ESM has built a reputation for mentorship-driven education that helps boost confidence and scores for our students.
			With test scores playing a vital role in college asmissions, find out more about how ESM can help your student achieve powerful results.
		</p>
		<div class="button-container">
			<button class="button-transparent"><i class="ion-chevron-right"></i> learn more</button>
			<button class="button-blue"><i class="ion-chevron-right"></i> class info</button>
		</div>
	</div>
</section>