<section id="welcome-page">
  <nav class="static-nav">
    <img class="logo-round" src="/assets/esm_round_logo.png">
    <span class="page-title">ESM Asia</span>
    <div class="links-container">
      <a ui-sref="home" link-selector="'home'" class="nav-link underline-fade-in">
        home
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="classes" link-selector="'classes'" class="nav-link underline-fade-in">
        classes
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="mentors" link-selector="'mentors'" class="nav-link underline-fade-in">
        mentors
        <div class="nav-link-underline-hover"></div>
      </a>
    </div>
  </nav>
  <div class="presentation-container">
    <h1 class="welcome-title">
      Asia's test prep leader
    </h1>
    <p class="title-description">
      Since 1999, ESM Group has worked with more students than any other organization in the Sacramento Area. ESM has built a reputation for mentorship-driven education that helps boost confidence and scores for our students.
      With test scores playing a vital role in college asmissions, find out more about how ESM can help your student achieve powerful results.
    </p>
    <div class="button-container">
      <a du-smooth-scroll href="#mentorship-model" class="button-transparent"><i class="ion-chevron-right"></i> learn about ESM</a>
      <a du-smooth-scroll href="#esm-offerings" class="button-blue"><i class="ion-chevron-right"></i> see our offerings</a>
    </div>
  </div>
</section>
<section id="mentorship-model" class="row">
  <div class="col-lg-6">
    <div class="mentor-model-box" elem-animate="slideRight">
      <h4 class="mentor-model-title">
        ESM's Mentorship Model
      </h4>
      <ul class="mentor-model-list">
        <li class="mentor-model-list-item">
          <span class="col-lg-9">
            <p class="mentor-model-point">
              Producing results for our students.
              ESM mentors typically raise scores 
              200-300 points on the SAT.
            </p>
          </span>
          <span class="col-lg-3">
            <div class="empty-circle scores">
              <i class="ion-arrow-graph-up-right"></i>
            </div>
          </span>
        </li>
        <li class="mentor-model-list-item">
          <span class="col-lg-9">
            <p class="mentor-model-point">
              Individualizing a structured road
              map to fit every student's needs.
            </p>
          </span>
          <span class="col-lg-3" style="padding-top: 0;">
            <div class="empty-circle map">
              <i class="ion-map"></i>
            </div>
          </span>
        </li>
        <li class="mentor-model-list-item">
          <span class="col-lg-9">
            <p class="mentor-model-point">
              Having the most current materials
              to make sure our students aren't
              confused by the newest additions
              to the SAT/ACT.
            </p>
          </span>
          <span class="col-lg-3">
            <div class="empty-circle book">
              <i class="ion-android-book"></i>
            </div>
          </span>
        </li>
        <li class="mentor-model-list-item">
          <span class="col-lg-9">
            <p class="mentor-model-point">
              Offering both classroom
              and one-on-one tutoring options
              because different students learn
              in different ways.
            </p>
          </span>
          <span class="col-lg-3">
            <div class="empty-circle idea">
              <i class="ion-lightbulb"></i>
            </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="focus-text-container" elem-animate="fadeIn">
      <h3 class="focus-text">
        We get our materials straight from the
        source so we’re always up to date on the
        latest trends.
      </h3>
      <div class="line-box"></div>
    </div>
    <img src="sat_book.png" class="sat-book" elem-animate="slideUp">
  </div>
  <a du-smooth-scroll href="#esm-offerings" class="arrow-circle pulse">
    <i class="ion-chevron-down"></i>
  </a>
</section>
<section id="esm-offerings">
  <h4 class="center-title">
    Get started
  </h4>
  <h5 class="center-subtitle">
    Click on the circle below to get more information on our classes and get started with enrollment.
  </h5>
  <div class="offering-selection row">
    <div class="col-lg-12">
      <div class="choice-circle" ng-click="classPage()">
        <div class="cont">  
          <h1 class="sat-act">
            SAT &amp; ACT
          </h1>
          <div class="wide-line blue">
            
          </div>
          <p class="choice-detail" style="color: #4FC1E9">
            Fall 2014 Classes
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6">
      <div class="choice-circle">
        <div class="cont">  
          <h1 class="private-tutoring">
            One-on-one
          </h1>
          <div class="wide-line green">
            
          </div>
          <p class="choice-detail" style="color: #48CFAD">
            Private Tutoring
          </p>
        </div>
      </div>
    </div> -->
  </div>
</section>
<footer class="help-footer">
  <a href="mailto:jlipper@esmcollege.com" class="help-link">Need help?</a>
</footer>