<div id="mentor-info">
  <nav class="static-nav">  
    <img class="logo-round" src="/assets/esm_round_logo.png" ng-click="goHome()" style="cursor: pointer">
    <span class="page-title">Mentors</span>
    <div class="links-container">
      <a ui-sref="home" link-selector="'home'" class="nav-link underline-fade-in">
        home
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="classes" link-selector="'classes'" class="nav-link underline-fade-in">
        classes
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="mentors" link-selector="'mentors'" class="nav-link underline-fade-in">
        mentors
        <div class="nav-link-underline-hover"></div>
      </a>
    </div>
  </nav>
  <div class="mentor-container">
    <aside class="mentor-sidebar">
      <div class="mentor-item" ng-repeat="mentor in mentors" ng-click="setMentorSpotlight($index)" ng-class="{'selected': mentor.name === mentorSpotlight.name}">
        <div class="mentor-item-container">
          <span class="mentor-item-photo"></span>
          <span class="mentor-item-name">{{mentor.name}}</span>
          <i class="ion-chevron-right item-chevron"></i>
        </div>
      </div>
    </aside>
    <section class="mentor-spotlight">
      <h2 class="spotlight-name">{{mentorSpotlight.name}}</h2>
      <div class="spotlight-bio" ng-bind-html="mentorSpotlight.bio"></div>
    </section>
  </div>
</div>