<div id="mentor-info">
  <nav class="static-nav">  
    <img class="logo-round" src="/assets/esm_round_logo.png" ng-click="goHome()" style="cursor: pointer">
    <span class="page-title">Course Offerings</span>
    <div class="links-container">
      <a ui-sref="home" link-selector="'home'" class="nav-link underline-fade-in">
        home
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="classes" link-selector="'classes'" class="nav-link underline-fade-in">
        classes
        <div class="nav-link-underline-hover"></div>
      </a>
      <a ui-sref="mentors" link-selector="'mentors'" class="nav-link underline-fade-in">
        mentors
        <div class="nav-link-underline-hover"></div>
      </a>
    </div>
  </nav>
  <div class="mentor-container">
    <aside class="mentor-sidebar">
      <div class="mentor-box" ng-repeat="m in mentors">
        <div third-class="{{$index}}" class="box-content" ng-click="setMentorSpotlight(m)">
          <img ng-src="{{m.photoUrl}}" ng-hide="m.photoUrl == undefined" class="mentor-photo">
          <div class="mentor-photo" ng-hide="m.photoUrl != undefined">
            <h1 class="initial">{{m.name | initial}}</h1>
          </div>
          <h6 class="mentor-name">{{m.name}}</h6>
        </div>
      </div>
    </aside>
    <section class="mentor-bio">
      <h2>{{mentorSpotlight.name}}</h2>
      <h4>{{mentorSpotlight.location}}</h4>
      <div class="bio" ng-bind-html="mentorSpotlight.bio"></div>
      <a href="mailto:info@esmcollege.com" class="button-blue"><i class="ion-chevron-right"></i> request information</a>
    </section>
  </div>
</div>