<p>Thank you for your payment.</p>
<p>Your payment of $999 was received and your student is registered for the July 30 ACT course. If you have any questions, feel free to email us at <a href="mailto:info@esmcollege.com">info@esmcollege.com</a>.</p>
<p>Looking forward to seeing your student at our first day of class!</p>
<p>Warm regards,</p>
<p>The ESM Team</p>