<p>Your registration for ESM's <%= @enrollment.course_date %> <%= @enrollment.course_type %> Course was successful!</p>
<p>Your student, <%= @enrollment.student_full_name %>, has been registered. If you haven't already, please make sure to <%= link_to 'confirm your registration with payment', payment_path %>. If you have already paid for the enrollment, an email will arrive shortly with your receipt.</p>
<p>Thank you for your interest in our course. If you have any questions, please feel free to <a href="mailto:info@esmcollege.com">email us</a> and we'll answer them as soon as we can.</p>
<p>Warm regards,</p>
<p>The ESM Team</p>