<p>Your registration for ESM's <%= @enrollment.course_date %> <%= @enrollment.course_type %> was successful!</p>
<p>Your student, <%= @enrollment.student_full_name %>, has been registered. Thank you for your interest in our course. If you have any questions, please feel free to <a href="mailto:kpope@esmcollege.com">email us</a> and we'll answer them as soon as we can.</p>
<p>Warm regards,</p>
<p>The ESM Team</p>