<p>Hi Billy,</p>
<p>The parent with the email <%= @email %> just confirmed their enrollment. They should match the last enrollment email you received, but if they didn't, email me and I'll match their email to their enrollment.</p>
<p>Let me know if you have any questions or if there were any errors with this email.</p>
<p>Joe</p>