@import "mixins";
@import "fonts";
@import "color";

.button-transparent, .button-blue {
	padding: 16px 32px;
	@include btn_radius;
	font-size: 18px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	font-family: 'NovecentoBook', sans-serif;
	border: 0;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		color: white;
	}
}
.button-transparent {
	background-color: transparent;
	border: 2px solid white;
	color: white;
}
.button-blue {
	background-color: $bf_blue_jeans_light;
	border: 2px solid $bf_blue_jeans_light;
	color: white;
}
.button-enroll {
	display: block;
	color: white;
	background-color: $bf_light_mint;
	border-bottom: 4px solid $bf_dark_mint;
	@include btn_radius;
	height: 70px;
	width: 100%;
	line-height: 68px;
	font-size: 24px;
	vertical-align: middle;
	text-align: center;
	font-family: 'NovecentoDemiBold', sans-serif;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		color: white;
	}
}