@import "bourbon";
@import "mixins";
@import "color";
@import "modals";
@import "buttons";

#class-selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  .class-choice-container {
    width: 1152px;
    position: absolute;
    top: 135px;
    left: 50%;
    @include transform(translateX(-50%));
    .selection-sidebar {
      width: 30.4%;
      height: 513px;
      background-color: rgba(255,255,255,0.8);
      float: left;  
      padding: 48px 36px;
      .sidebar-link {
        vertical-align: middle;
        padding: 12px;
        line-height: 30px;
        display: block;
        font-size: 20px;
        font-weight: 600;
        color: $content_grey;
        @include transition(all 0.25s linear);
        &:hover {
          color: $bf_blue_jeans_light;
          text-decoration: none;
        }
        &.selected {
          color: white;
          background-color: $content_grey;
          border-radius: 4px;
        }
      }
    }
    .selection-content {
      width: 69.6%;
      height: 513px;
      position: relative;
      background-color: #F5F7FA;
      padding: 48px 60px 60px 60px;
      float: right;
      .main-icon {
         $d: 100px;
         height: $d;
         width: $d;
         @include display_block_center;
         border-radius: 50%;
         &.sat {
           background-color: $bf_light_mint;
         }
         &.act {
           background-color: $bf_aqua_dark;
         }
         &.referral {
           background-color: $bf_light_grass;
         }
         .ion-lightbulb, .ion-arrow-return-left {
           font-size: 60px;
           color: white;
           width: $d;
           line-height: $d;
           text-align: center;
           vertical-align: middle;
         }
       }
      .selection-title {
        font-size: 36px;
        font-weight: 600;
        text-align: center;
      }
      .seminar-container {
        max-width: 800px;
        position: relative;
        left: 50%;
        @include transform(translateX(-50%));
        .seminar-title {
          margin-top: 0;
          margin-bottom: 16px;
          font-size: 60px;
          letter-spacing: 2.5px;
          text-align: center;
        }
        .column-title {
          font-size: 24px;
          font-weight: 600;
        }
        .course-description {
          font-size: 16px;
        }
        .course-details-box {
          border: 2px solid $med_light_grey;
          border-radius: 4px;
          padding: 16px;
          .detail-title {
            margin-top: 0;
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 600;
          }
          .price {
            background-color: $bf_light_mint;
            border-radius: 4px;
            color: white;
            padding: 4px;
            font-size: 32px;
            font-weight: 700;
            width: 100px;
            text-align: center;
          }
        }
        .referral-title {
          font-weight: 600;
          font-size: 18px;
        }
        .referral-text {
          font-size: 18px;
        }
        .button-green {
          top: 30px;
          position: relative;
          left: 25%;
          @include transform(translateX(-50%));
        }
      }
    }
  }
}