@import "bourbon";
@import "mixins";
@import "color";
@import "modals";
@import "buttons";

// Sidebar colors
$bg_sidebar: #53637A;
$brdr_sidebar: #5E708A;
// unselected
$up_text: #97EFDC;
$us_text: #1D98A0;
// selected
$ss_text: #F5F7FA;
$sbg_color: #27CDD8;


#class-selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .class-choice-container {
    position: absolute;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    .class-sidebar {
      position: relative;
      width: 30%;
      height: 100%;
      background-color: $bg_sidebar;
      float: left;
      .class-item {
        position: relative;
        height: calc(100% / 8);
        background-color: $bg_sidebar;
        border-bottom: 1px solid $brdr_sidebar;
        cursor: pointer;
        .class-item-container {
          position: relative;
          top: 50%;
          @include transform(translateY(-50%));
          .class-item-school, .item-chevron {
            margin: 0;
            font-size: 16px;
            @include anti-alias;
            color: $up_text;
          }
          .class-item-school {
            padding-left: 36px;
          }
          .class-item-location {
            margin: 4px auto;
            padding-left: 36px;
            font-size: 12px;
            color: $us_text;
            @include anti-alias;
          }
          .item-chevron {
            position: absolute;
            right: 44px;
            top: 50%;
            @include transform(translate3d(0,-50%,0));
            @include transition(transform 0.1s linear);
          }
        }
        &:hover {
          .item-chevron {
            @include transform(translate3d(8px,-50%,0));
          }
        }
        &.selected {
          background-color: $sbg_color;
          .class-item-school, .item-chevron {
            color: white;
          }
          .class-item-location {
            color: $ss_text;
          }
        }
      }
    }
    .selection-content {
      width: 70%;
      height: 100%;
      position: relative;
      background-color: #F5F7FA;
      padding: 48px 60px 108px 60px;
      float: right;
      overflow-y: scroll;
      box-sizing: border-box;
      .course-list {
        .course-item {
          position: relative;
          background-color: white;
          padding: 16px 24px;
          border-bottom: 1px solid $ss_text;
          .course-item-container {
            position: relative;
            top: 50%;
            .course-title {
              font-size: 24px;
              color: $bg_sidebar;
            }
            .course-dates {
              color: $bf_orange_red;
            }
          }
          .course-price {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            color: $bf_light_grass;
            font-size: 36px;
            right: 24px;           
          }
          &.top {
            border-radius: 6px 6px 0 0;
          }
          &.bottom {
            border-radius: 0 0 6px 6px;
          }
        }
      }
      .hover-chevron {
        font-size: 24px;
        color: $dark_grey;
        text-shadow: 0 1px 3px rgba(0,0,0,0.4);
        position: fixed;
        left: 65%;
        opacity: 1;
        // @include transform(translate3d(-50%,0,0));
        bottom: 36px;
        z-index: 200;
      }
      .button-register {
        position: relative;
        left: 25%;
        top: 36px;
        @include transform(translateX(-25%));
      }
    }
  }
}