@import "bourbon";
@import "mixins";
@import "color";
@import "modals";

#class-selection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('background.jpg');
	.class-choice-container	{
		margin-top: 135px;
		width: 100%;
		.class-selection {
			padding: 36px;
			position: relative;
			@include display_block_center;
			height: 500px;
			width: 375px;
			background-color: rgba(230,233,237,0.85);
			@include transition(background-color 0.1s linear);
			&:hover {
				background-color: rgb(230,233,237);	
			}
			.class-title {
				font-size: 18px;
				color: $dark_grey;
			}
			.location-head {
				height: 75px;
				.location-circle {
					$circle-size: 75px;
					@include circle($circle-size);
					background-color: $bf_grapefruit;
					margin-right: 12px;
					.ion-location {
						color: white;
						font-size: 48px;
						width: $circle-size;
						line-height: $circle-size;
						text-align: center;
						vertical-align: middle;
					}
				}
				.address {
					font-family: 'NovecentoDemiBold', sans-serif;
					font-size: 16px;
					position: absolute;
					top: 52px;
					left: 132px;
				}
			}
			.class-choice-body {
				
				.class-dates {
					font-size: 36px;
					color: $dark_grey;
					font-weight: 600;
				}
				.line-box-classes {
					border: 1.5px solid $dark_grey;
					width: 100px;
					margin-bottom: 24px;
				}
				.class-description {
					color: $med_dark_grey;
					font-size: 14px;
					margin-bottom: 24px;
				}
				.red {
					color: $bf_orange_red;
				}
			}
			.class-choice-footer {
				.class-title {
					margin-right: 4px;
				}
				.price {
					font-weight: 700;
					color: $bf_light_grass;
					text-shadow: $bf_dark_grass;
				}
				.button-enroll {
					margin-top: 16px;
					width: 100%;
					text-align: center;
				}
				.button-request {
					margin-top: 16px;
				}
			}
		}
	}
}