// oranges and reds
$base_red: #E14D4C;
$red_orange: #F86247;
$orange: #EE7744;
$bf_purple-light: #AC92EC;

// blues
$base_blue: #2979AE;
$medium_blue: #2F5C91;
$btn_text_blue: #556C88;
$greenish_blue: #25AFC5;
$light_green: #23BBA6;
$twitter_light: #5bc0de;
$twitter_dark: #46b8da;

// grey
$light_grey: #F5F7FA;
$med_light_grey: #E6E9ED;
$med_grey: #BFC1C4;
$timestamp_grey: #CAD5E5;
$med_dark_grey: #656D78;
$icon_grey: #757E8A;
$dark_grey: #434A54;

// bootflat oranges and reds
$bf_light_orange: #FC6E51;
$bf_orange_red: #E9573F;
$bf_grapefruit: #ED5565;
$bf_red: #DA4453;

// yellows
$bf_light_yellow: #FFCE54;
$bf_medium_yellow: #F6BB42;
$snapchat_light: #FFF160;
$snapchat_dark: #FFED24;

// bootflat blues
$bf_blue_jeans_light: #5D9CEC;
$bf_blue_jeans_dark: #4A89DC;
$bf_aqua_light: #4FC1E9;
$bf_aqua_dark: #3BAFDA;

// bootflat greens
$light_mint: #52F7CE;
$bf_light_mint: #48CFAD;
$bf_dark_mint: #37BC9B;
$bf_light_grass: #A0D468;
$bf_dark_grass: #8CC152;