@import "bourbon";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic);
@import "mixins";
@import "color";
/* pixel to em conversion function */
$browser-context: 14; // Default
 
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

a {
  cursor: pointer;
}
.logo-round {
  $logo-size: 40px;
  position: absolute;
  top: 12px;
  left: 12px;
  height: $logo-size;
  width: $logo-size;
}

.page-title {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  left: 64px;
  line-height: 64px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
}

.input-error {
  border: 2px solid $bf_orange_red;
}

.static-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: white;
  .links-container {
    position: relative;
    float: right;
    display: table;
    height: 64px;
    .nav-link {
      position: relative;
      color: $dark_grey;
      vertical-align: middle;
      display: table-cell;
      font-size: 16px;
      font-family: "NovecentoBook", sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 16px;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover {
        text-decoration: none;
      }
    }
    .nav-link-underline-hover {
      position: absolute;
      width: calc(100% - 32px);
      bottom: 0;
      z-index: 1000;
      @include transition(all 0.15s ease-out);
      opacity: 0;
      height: 3px;
      @include transform(translateY(16px));
      background-color: $dark_grey;
    }
  }
}

.jl-datepicker {
  background-color: white;
}

#coming-soon {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('background.jpg');
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4A89DC;
    opacity: 0.6;
  }
  .col-lg-6 {
    margin-top: 120px;
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 12px;
    text-shadow: 0 1px 2px #2C3E50;
  }
  p {
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 2px #2C3E50;
  }
  img {
    background-color: white;
    @include display_block_center;
  }
}
input[type=text], input[type="password"] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid rgb(233,235,236);
  padding: 6px 10px;
  width: 100%;
  &:focus {
    outline: none;
    border: 1px solid rgb(178,180,181);
  }
}
#login-box {
  border: 1px solid rgb(247,247,247);
  padding: 20px;
  margin-top: 100px;
  max-width: 250px;
  @include display_block_center;
  h2 {
    text-align: center;
  }
  form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  input[type="submit"] {

  }
}

.arrow-circle {
  $circle-size: 50px;
  position: absolute;
  z-index: 50;
  bottom: 16px;
  left: calc(50% - 25px);
  @include circle($circle-size);
  border: 2px solid $dark_grey;
  .ion-chevron-down {
    font-size: 24px;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    color: $dark_grey;
    @include transform(translateX(-2px));  
  }
}