@import "color";
@import "buttons";

#mentor-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .mentor-container {
    position: absolute;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    .mentor-sidebar {
      position: relative;
      width: 30%;
      height: 100%;
      background-color: transparent;
      float: left;    
      .mentor-box {
        position: relative;
        width: 50%;
        height: calc(100% / 3);
        display: inline-block;
        .odd {
          background-color: rgba(255,255,255,0.8);
        }
        .even {
          background-color: rgba(245,247,250,0.8);
        }
        .box-content {
          $d: 100px;
          @include transition(all 0.5s linear);
          height: 100%;
          cursor: pointer;
          &:hover {
            background-color: white;
          }
          .mentor-name {
            position: relative;
            top: 15%;
            font-weight: 600;
            font-size: 16px;
            line-height: 1;
            text-align: center;
          }
          .initial {
            margin: 0;
            color: $base_blue;
            font-size: 72px;
            line-height: $d;
            width: $d;
            @include transform(translate(-5px,-5px));
            vertical-align: middle;
            text-align: center;
            font-weight: 400;
          }
          .mentor-photo {
            position: relative;
            top: 10%;
            height: $d;
            width: $d;
            margin-left: auto;
            margin-right: auto;
            display: block; 
            border-radius: 50%;
            border: 4px solid $base_blue;
          }
        }
      }  
    }
    .mentor-bio {
      position: relative;
      width: 70%;
      height: 100%;
      background-color: #F5F7FA;
      padding: 50px;
      float: right;
      h2 {
        margin-top: 0;
        font-size: 48px;
        letter-spacing: 2.5px;
        font-weight: 600;
      }
      h4 {
        font-size: 24px;
        letter-spacing: 0.25px;
        color: rgb(170,178,189);
      }
      p {
        color: $dark_grey;
      } 
      .button-blue {
        position: relative;
        top: 24px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        max-width: 330px;
        .ion-chevron-right {
          font-size: 20px;
          @include transform(translate(0,1px));
          margin-right: 16px;
          @include transition(transform 0.15s linear);
        }
        &:hover {
          .ion-chevron-right {
            @include transform(translate(6px,1px));
          }
        }
      }
    }
  }
}