@import "bourbon";
@import "mixins";
@import "color";

.novecento-bold {
  font-family: "NovecentoDemiBold", sans-serif;
}

.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 500;
  .modal-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .close-container {
    position: fixed;
    top: 24px;
    left: 24px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: middle;
    color: $bf_orange_red;
    cursor: pointer;
    .ion-close-round {
      @include transform(translateY(1px));
    }
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .registration-container {
    position: relative;
    z-index: 501;
    top: 50%;
    @include transform(translateY(-50%));
    @include display_block_center;
    height: 511px;
    width: 850px;
    .registration-title {
      margin-top: 0;
      font-size: 36px;
      color: white;
      font-weight: 300;
      letter-spacing: 1.7px;
    }
    .registration-input {
      width: 100%;
      padding: 8px 12px;
      background-color: #A8CEFF;
      border: 2px solid #B8D9FF;
      border-radius: 4px;
      @include transition(border 0.5s);
      @include placeholder {
        color: #6B8CBC;
      }
      &:focus {
        outline: none;
        border: 2px solid #FFED24;
      }
    }
    .registration-byline {
      font-style: italic;
      color: $snapchat_dark;
      margin-bottom: 0;
    }
    .left-registration {
      position: absolute;
      left: 0;
      padding: 36px 48px 48px 48px;
      height: 100%;
      background-color: #7D9FC8;
      .registration-label-left {
        margin-top: 6px;
        font-family: "NovecentoBook", sans-serif;
        font-size: 16px;
        letter-spacing: 0px;
        color: #556C88;
      }
      .ion-locked {
        vertical-align: middle;
        color: white;
        font-size: 24px;
        color: $bf_light_grass;
      }
      // make sure to do with input-group too
      .input-group {
        display: inline;
      }
      .grade-group {
        display: inline;
        .grade-input {
          background-color: #A8CEFF;
          border: 2px solid #B8D9FF;
          border-radius: 4px;
          padding: 8px 12px;
          &:focus {
            outline: none;
            border: 2px solid #FFED24;
          }
        }
      }
    }
    .right-registration {
      position: absolute;
      left: 50%;
      padding: 36px 48px 48px 48px;
      height: 100%;
      background-color: #556C88;
      .registration-label-right {
        margin-top: 6px;
        font-family: "NovecentoBook", sans-serif;
        font-size: 16px;
        letter-spacing: 0px;
        color: #E6E9ED;
      }
      .registration-course-dates {
        color: $bf_light_orange;
      }
      .button-enroll {
        height: 48px;
        margin-top: 12px;
        font-size: 18px;
        line-height: 40px;
        .ion-chevron-right {
          color: white;
          font-size: 20px;
          @include transform(translate(-4px, 2px));
        }
      }
    }
  }
}

.success-box {
  position: relative;
  top: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include transform(translateY(-50%));
  .ion-checkmark-circled {
    width: 100%;
    font-size: 108px;
    text-align: center;
    color: $bf_dark_grass;
    margin-bottom: 12px;
    @include animation(expandOpen 0.3s ease-in-out);
  }
  h4 {
    color: $bf_dark_grass;
    text-align: center;
  }
  .success-home-link {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
  }
}