@import "bourbon";
@import "color";
@import "mixins";

#payment-container {
	.alert-container {
		position: absolute;
		width: 100%;
		top: 48px;
		font-weight: 700;
		font-size: 16px;
		text-align: center;
		z-index: 5000;
		color: $bf_light_orange;
		.alert-text {
			&.ng-enter {
				@include animation(fadeInDownBig 0.5s ease-in-out);
			}
			&.ng-leave {
				@include animation(fadeOutUpBig 0.5s ease-in-out);
			}
		}
	}
	.payment-info {
		font-size: 16px;
		color: $dark_grey;
	}
	.secure-container {
		margin-top: 50px;
		.security-circle {
			$circle: 75px;
			@include circle($circle);
			@include display_block_center;
			background-color: $bf_light_orange;
			.ion-locked {
				width: $circle;
				line-height: $circle;
				text-align: center;
				vertical-align: middle;
				color: white;
				font-size: 36px;
			}
		}
	}
	.security-label {
		margin-top: 8px;
		font-family: "NovecentoDemiBold", sans-serif;
		font-size: 18px;
		color: white;
		text-align: center;
		letter-spacing: 0.5px;
	}
	.registration-input {
		@include placeholder {
			color: #6B8CBC;
		}
	}
	.card-month, .card-year {
		width: 45%;
	}
	.credit-card-info {
		margin-top: 16px;
		margin-bottom: 16px;
		color: #6B8CBC;
	}
	.card-highlight {
		color: $snapchat_light;
	}
	.success-box {
		position: absolute;
		top: 45%;
		@include transform(translateY(-50%));
		width: 100%;
		background-color: white;
		.ion-checkmark-circled {
			color: $bf_light_mint;
			font-size: 72px;
			text-align: center;
			@include display_block_center;
			@include animation(expandOpen 0.5s ease-in);
		}
		.success-msg {
			margin-top: 16px;
			color: $bf_light_mint;
			font-size: 20px;
			text-align: center;
			@include animation(slideUp 0.5s ease-in);
		}
	}
}