<!DOCTYPE html>
<html ng-app="esmTestPrep">
<head>
  <title>ESM Test Prep - Sacramento's leader in Test Preparation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
